/* ////////////Globle Styles/////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #083344;
  color: #e0f2fe;
  padding: 64px 48px;
  font-family: "sono", sans-serif;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  padding: 16px 0px 13px; /*TOP RIGHT-LEFT BOTTOM */
  font-size: 17px;
  line-height: 1;
  border-radius: 100px;
  text-transform: uppercase;
  background-image: linear-gradient(135deg, #2dd4bf, #3b82f6, #7c3aed);
  transition: 0.7s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(1deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-category-all {
  margin-bottom: 20px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/*/////////////////// Form Section//////////////// */

.fact-form {
  background-color: #155e75;
  padding: 16px 24px;
  margin-bottom: 36px;
  border-radius: 16px;

  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 20px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  font-family: inherit;
  color: inherit;
  background-color: #083344;
  font-size: 20px;
  padding: 16px;
  border: none;
  border-radius: 100px;
}

.word-counter {
  font-weight: 600;
  font-size: 18px;
  margin-right: 48px;
}

.fact-form input:first-child {
  flex: 1;
}

.fact-form input::placeholder {
  font-size: 14px;
}

.fact-form option {
  font-size: 14px;
}

/* ///////////////Header Section/////////////// */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.logo h1 {
  font-family: "Coiny", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 8px;
}

/* ////////////////Main Section//////////////////////// */

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.fact-list {
  list-style: none;
}
.fact {
  display: flex;
  align-items: center;
  gap: 24px;

  background-color: #155e75;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.source:link,
.source:visited {
  text-decoration: none;
  color: #22d3ee;
}

.source:hover,
.source:active {
  color: #a5f3fc;
  transition: 0.7s;
}

.tag {
  background-color: crimson;
  font-family: "Coiny", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 5px 2px;
}

.vote-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto; /*  ///find about this property// */
}

.vote-button {
  border: none;
  color: inherit;
  background-color: #083344;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
}

.vote-button:hover {
  background-color: #22d3ee;
  color: #083344;
}

/* ///////////////Category Button Section///////////////// */

.Category-list {
  list-style: none;
}

.category-items {
  margin-bottom: 16px;
}

.hidden {
  display: none;
}
